Source: ros-kilted-turtlebot3-node
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-dynamixel-sdk, ros-kilted-geometry-msgs, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-ros, ros-kilted-turtlebot3-msgs, ros-kilted-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kilted-turtlebot3-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-dynamixel-sdk, ros-kilted-geometry-msgs, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-ros, ros-kilted-turtlebot3-msgs, ros-kilted-ros-workspace
Description: TurtleBot3 driver node that include diff drive controller, odometry and tf node
