Source: ros-jazzy-turtlebot3
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-jazzy-turtlebot3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-turtlebot3-bringup, ros-jazzy-turtlebot3-cartographer, ros-jazzy-turtlebot3-description, ros-jazzy-turtlebot3-example, ros-jazzy-turtlebot3-navigation2, ros-jazzy-turtlebot3-node, ros-jazzy-turtlebot3-teleop, ros-jazzy-ros-workspace
Description: ROS 2 packages for TurtleBot3
